.tournament {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.tournament__text {
    color: #313131;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    order: 1;
}

.tournament__text span {
    color: #F54932;
}

.tournament__image {
    width: 100%;
    max-width: 394px;
    margin: 0 auto;
    order: 2;
}

.tournament__picture {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (min-width: 768px) {
    .tournament {
        gap: 32px;
    }

    .tournament__text {
        font-size: 36px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .tournament {
        display: flex;
        gap: 64px;
        align-items: center;
    }

    .tournament__text {
        text-align: left;
        font-size: 36px;
        order: 1;
        flex: 1 1 calc((764 / 1366) * 100);
    }

    .tournament__image {
        max-width: 100%;
        order: 2;
        flex: 1 1 calc((394 / 1366) * 100);
    }
}

@media (min-width: 1440px) {
    .tournament__text {
        font-size: 42px;
    }
}